/* * {
  outline: 3px dotted black;
} */

#container {
  background-color: rgba(80, 20, 80, 0.632);
  min-height: 1500px;
  /* height: 1300px; */
  width: 1400px;
}
#header {
  min-height: 50px;
  background-color: silver;
}
#header .top-text{
    display: inline-block;
}
h1.top-text {
    font-size: 50px;
}
h2.blurb {
    position: relative;
    right: -630px;
    font-size: 35px;
}
#main-box {
  min-height: 1175px;
}
.top {
  min-height: 400px;
}
#container div.block {
  display: inline-block;
  vertical-align: top;
  min-height: 380px;
  width: 600px;
  padding: 10px;
  margin: 10px;
  border: 10px;
  background-color: silver;
}
#container div.about-section {
  width: 700px;
  background-color: snow;
}
div.about-section div.banner {
    min-height: 50px;
    background-color: silver;
    font-size: 40px;
    color: white;
    font-weight: bold;
    width: 715px;
    margin-left: -8px;
    margin-top: -10px;
}
div.about-section p{
    font-size: 20px;
}
.bottom {
    min-height: 700px;
    margin: 15px;
}
div.bottom div.bottom-block {
    display: inline-block;
    vertical-align: top;
    min-height: 870px;
    width: 433px;
    margin: 10px;
    outline: 3px solid white;
    background-color: snow;
}
div.bottom-block div.bottom-banner {
    min-height: 70px;
    background-color: silver;
}
div.bottom-block p {
    font-size: 27px;
}
div.bottom-block div.skills {
    min-height: 210px;
    /* outline: 2px solid black; */
}
div.skills img {
    /* outline: 2px solid black; */
    margin: 8px;
    position: relative;
    top: 15px;
    left: 20px;
}
button {
    position: relative;
    bottom: -25px;
    left: 160px;
}