* {
    outline: 3px dotted black;
}

#container {
    /* background-color: red; */
    min-height: 1300px;
    /* height: 1300px; */
    width: 1400px;
}
#header {
    min-height: 100px;
}
#main-box {
    min-height: 1175px;
}
.top {
    min-height: 400px;
}
#container div.block {
    display: inline-block;
    vertical-align: top;
    min-height: 375px;
    width: 600px;
    padding: 10px;
    margin: 10px
}
#container div.about-section {
    width: 700px
}

