* {
    margin: 0px auto;
}

#wrapper {
    outline: 5px dotted black;
    width: 970px;
    min-height: 1000px;
    margin-top: 5px;
}
div.globe {
    outline: 5px dotted red;
    display: inline-block;
    width: 500px;
}
div.globe img {
    width: 80px;
    height: 80px;
}
div.globe h2 {
    display: inherit;
    vertical-align: top;
    margin-top: 20px;
    font-size: 40px
}