* {
    margin: 0px auto;
}

#wrapper {
    outline: 5px dotted black;
    width: 970px;
    min-height: 1000px;
    margin-top: 5px;
}
div.globe {
    /* outline: 5px dotted red; */
    display: inline-block;
    width: 500px;
}
div.globe img {
    width: 80px;
    height: 80px;
}
div.globe h2 {
    display: inherit;
    vertical-align: top;
    margin-top: 20px;
    font-size: 40px
}

/* MAIN BODY */

div#wrapper div.main-body {
    outline: 5px dotted blue;
    /* width: 500px; */
    min-height: 910px;
}
div.main-body h1 {
    /* outline: 3px dotted blueviolet; */
    background-color: rgb(86, 128, 167);
    color: white;
    min-height: 65px;
}
/* SIDEBAR */
div.sidebar {
    outline: 3px dotted red;
    min-height: 400px;
    width: 200px;
    margin-left: 1px;
}
div.sidebar p {
    font-weight: 700
}
