body {
    margin: 0px auto;
    width: 970px;
    height: 600px;
    /* outline: 5px dotted blue; */
}

img {
    outline: 2px solid black;
    width: 200px;
    height: 200px;
}

.ninja {
    display: inline-block;
    margin: 10px;
}

.restore {
    margin-bottom: 50px;
    position: relative;
    bottom: -50px;
    margin-right: 25px;
}